<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addinfo}" th:object="${newschool}" method="post">
    <p align="center">First Name: <input type="text" th:field="*{firstname}"/>
        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</span></p>
    <p align="center">Last Name: <input type="text" th:field="*{lastname}"/>
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name Error</span></p>
    <p align="center">Email: <input type="text" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span></p>

    <p align="center">Phone Number: <input type="text" th:field="*{phonenumber}"/>
        <span th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}">phonenumber Error</span></p>
    <p align="center">School: <input type="text" th:field="*{school}"/>
        <span th:if="${#fields.hasErrors('school')}" th:errors="*{school}">School Error</span></p>



    <p align="center"><input type="submit" value="Enter" /> <input type="reset" value="Reset" /> </p>

</form>
</body>
</html>