<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="www.thymleaf.org/thymleaf-extras-springsecurity3">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Student Database</title>
</head>
<body>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><lable>User Name:<input type="text" name="username"/></lable></div>
    <div><lable>Password:<input type="password" name="password"/></lable></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>