<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Information Entered</title>
    <link href="../css/login.css" rel="stylesheet" >
</head>

<body>

<p  align="center" th:text="'First Name: '+ ${newschool.firstname}" class="name"/>
<p  align="center" th:text="'Last Name: '+ ${newschool.lastname}" class="name"/>
<p  align="center" th:text="'Email: '+ ${newschool.email}" class="name"/>
<p  align="center" th:text="'Phone number: '+ ${newschool.phonenumber}" class="name"/>
<p  align="center" th:text="'School: '+ ${newschool.school}" class="name"/>



<a href="/">Try Again</a>
<a href="/showall">Show List</a>
<div>
<a th:href="@{/update/{id}(id=${newschool.id})}" >Edit</a>
<a th:href="@{/delete/{id}(id=${newschool.id})}" >delete</a>
</div>
</body>
</html>